.footer {
    height: 64px;
    background-color: #ffffff;
    border: none;
    border-top: 2px solid #fcba19;
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
    box-sizing: border-box;
    box-shadow: 0 -3px 6px rgb(0 0 0 / 0.08);
}

.footer img {
    position: relative;
    bottom: 9px;
    height: 190%;
    object-position: left;
}

.footer img:last-of-type {
    position: relative;
    height: 200%;
    object-position: right;
}


@media only screen and (max-width: 650px) {
    .footer img {
        max-width: 100%;
    }

    .footer img:last-of-type {
        display: none;
    }
}